
<h1 >To do list</h1>
       
       <ol>
        <li>
            <input type="checkbox">Do chores for mom 3 pomodoros 
            <a href="file_show.html">Edit</a>
            <a href="file_show.html">Delete</a>
        </li> 
        <li>
            <input type="checkbox">Do homeowrk 4 pomodors 
            <a href="file_show.html">Edit</a>
            <a href="file_show.html">Delete</a>
        </li>
        <li>
           <input type="checkbox"> Clean room 2 pomodors 
            <a href="file_show.html">Edit</a> 
            <a href="file_show.html">Delete</a>
        </li>
        <li>
           <input type="checkbox"> GO to grocery store 2 pomodoros
            <a href="file_show.html">Edit</a> 
            <a href="file_show.html">Delete</a>
        </li>
        Add Task   
        </ol>
        <input type="text" placeholder="New task">
        <input type="number" placeholder="Number of pomodoros">