 <h1>Description</h1>
<p><%=%></p>

<input type="checkbox"><a href ="show/4"></a> GO to grocery store 2 pomodoros
            <a href="/todo/edit/<%=@todo.id%>" class="button edit-todo-button">Edit</a> 
            <a href="/todo/destroy/<%= @todo.id %>" class="button delete-todo-button">Delete</a>
<h2><%= @todo.pomodoro_estimate%></h2><span>Number of pomodoros</span>
